/**
 * Documentation styles for Altis
 */

.admin_page_altis-documentation #wpbody-content {
	padding-bottom: 0;
}

.altis-ui,
.wrap.altis-ui {
	background: #fff;
	margin: 0 0 0 -20px;
}

.altis-ui > header {
	display: flex;
	align-items: center;
	height: 52px;
	box-shadow: 0 1px 2px 0 #e1e1e1;
	padding: 0 14px;
	font-size: 1.3em;
	text-transform: uppercase;
	justify-content: space-between;
}

.altis-ui__doc-title {
	font-size: 18px;
	color: #152a4e;
	margin: 1.4em 0 0;
}

.altis-ui__main {
	display: flex;
}

.altis-ui__main > nav {
	width: 196px;
	max-width: 220px;
	margin-right: 49px;
	background: #f6fbfd;
	border-right: #e1e1e1 1px solid;
	padding-left: 10px;
	flex: 1;
	box-shadow: inset 0 0px 2px 0 #e1e1e1;
}

.altis-ui__main > nav > ul li {
	margin-bottom: 0;
}

.altis-ui__main > nav > ul a {
	text-decoration: none;
}

.altis-ui__main > nav > ul > li a {
	line-height: 18px;
	padding: 5px 5px 5px 12px;
	display: block;
	border-top: transparent 1px solid;
	border-bottom: transparent 1px solid;
	border-left: 2px solid transparent;
}

.altis-ui__main > nav li.active > a {
	display: block;
	background: #f3f5f9;
	border-top: #e1e1e1 1px solid;
	border-bottom: #e1e1e1 1px solid;
	border-left: 2px solid #4667de;
	transform: translateX(1px);
	margin-left: -1px;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02), 0 1px 0 rgba(0, 0, 0, 0.02);
}

.altis-ui__main > nav > ul ul {
	display: none;
	margin-left: 2em;
}

.altis-ui__main > nav .current ul {
	display: block;
}

.altis-ui__main > aside {
	width: 222px;
}

.altis-ui__main > article {
	max-width: 740px;
	flex: 1;
	margin-right: 31px;
	margin-top: 30px;
	padding-bottom: 30px;
}

.altis-ui__main > article p {
	line-height: 1.7;
}

.altis-ui__main > article img {
	max-width: 100%;
}

.altis-ui__main > article ul {
	list-style: disc;
	margin-left: 20px;
}

.altis-ui__main > article pre code {
	display: block;
	font-size: 12px;
	overflow: auto;
	line-height: 1.8;
}

.altis-ui__main > article .header-anchor {
	text-decoration: none;
}

.hljs {
	padding: 0;
}

td.hljs-ln-numbers {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	color: #666;
	background: rgba(0, 0, 0, 0.3);
	vertical-align: top;
	padding: 0 5px !important;
}

table.hljs-ln tr:first-child td .hljs-ln-n,
table.hljs-ln tr:first-child td.hljs-ln-code {
	padding-top: 10px;
}

table.hljs-ln tr:last-child td .hljs-ln-n,
table.hljs-ln tr:last-child td.hljs-ln-code {
	padding-bottom: 10px;
}

.hljs-ln-code {
	padding-left: 5px !important;
}
